{% extends 'blog/base.html'%}
{% load static %}
{% block title %}My Posts{% endblock title %}




{% block content1 %}
<div class="container"> 
    <div class="row">
        {% for post in posts %}
        <div class='col-10  offset-1 mt-5 shadow-lg p-3 mb-5 form-bg rounded'>
            <div class="post">
                <div class="date text-light">
                    <p>Publish: {{post.published_date}}</p>
                    {% if user == post.author %}
                      <p>Author: You</p>
                    {% else %}
                    <p>Author: {{post.author}}</p>
                    {% endif %}
                </div>
                <h3><span class="text-light">Title:</span> <a href="{% url 'post_detail' pk=post.pk%}">{{post.title}}</a></h3>
                <p class="text-white mt-4">
                    {{post.text| linebreaksbr | truncatechars:50}}
                </p>
            </div>
        <hr/>  
        </div>

         {% empty %}
        <h5 class="mt-5 text-light">No posts yet...</h5>
    {% endfor %}
    </div>
</div>

{% endblock content1 %}
