{% extends 'blog/base.html' %}
{% load static %}
{% block content1 %}

<div class='col-4 offset-4 mt-5 shadow-lg p-5 mb-5 form-bg rounded'>
    <form action='' method="post" novalidate autocomplete="off">
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        <table>
            
        {% for fm in form%}
                    <tr>
                        <td><label for="exampleFormControlInput1" class="form-label pt-3">{{fm.label}}: </label></td>
                        <td>{{fm}}</td>
                    </tr>
                    <span>{{fm.errors | striptags}}</span>
                    {% endfor %}
                </table>
                <div>
                    <input type="submit" value="Submit" class='my-3 btn btn-info'>
                </div>
</form>



</div>
{% endblock content1 %}